page-getin {

	ion-select {
		max-width: 60% !important;
	}
	.table_name {
		text-align: center;
	}
	.table_title {
		text-align: center;
	}
	.table_data {
		text-align: center;
	}
	.button-pink {
		font-size: 75%;
		padding: 6% 23%;
		margin: auto;
		white-space: nowrap;
		text-align: center;
		font-family: "SanFranciscoText-Regular";
		font-weight: bold;
		letter-spacing: 0.3em;
	}
}
