<ion-header>
	<ion-navbar>
	<button ion-button menuToggle icon-only>
    	<ion-icon name='menu'></ion-icon>
    </button>
		<ion-title>가치가</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row justify-content-center>
			<ion-col col-max>
				<ion-item>
					<ion-label>탈 곳</ion-label>
					<ion-select [(ngModel)]="my_pickup_info.src">
						<ion-option *ngFor="let obj of place" [value]="obj.value">{{obj.text}}</ion-option>
					</ion-select>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row justify-content-center>
			<ion-col col-max>
				<ion-item>
					<ion-label>목적지</ion-label>
					<ion-select [(ngModel)]="my_pickup_info.dst">
						<ion-option *ngFor="let obj of place" [value]="obj.value">{{obj.text}}</ion-option>
					</ion-select>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row justify-content-center>
			<ion-col col-max>
				<ion-item>
					<ion-label>태울 시간</ion-label>
					<ion-datetime displayFormat="M/DD h:mm A" pickerFormat="M DD h mm A" [(ngModel)]="my_pickup_info.time"></ion-datetime>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row justify-content-center>
			<ion-col col-auto>
				<button ion-button block color="secondary" outline (click)="ClickUpdatePickupInfo()">확인</button>
			</ion-col>
		</ion-row>

	</ion-grid>

	<ion-grid>
		<ion-row justify-content-center>
			<ion-col col-max>
				<ion-item>
					<div class=table_name>리스트</div>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row align-items-center>
			<ion-col col-5>
				<div class=table_title>이름</div>
			</ion-col>
			<ion-col col-5>
				<div class=table_title>목적지</div>
			</ion-col>
			<ion-col col-2>
				<div class=table_title>승인</div>
			</ion-col>
		</ion-row>
		<ion-row *ngFor="let my_recv_getin_request of my_recv_getin_requests" align-items-center>
			<ion-col col-5>
				<div class=table_data>{{my_recv_getin_request.name}}</div>
			</ion-col>
			<ion-col col-5>
				<div class=table_data>{{my_recv_getin_request.dst}}</div>
			</ion-col>
			<ion-col col-2>
				<button ion-button block class=button-pink color="dark" outline [disabled]="my_recv_getin_request.disabled" (click)="ClickRecvGetinRequest()">
					승인
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>